/*
 * Author: MGSD Technology
 * Date: 23 October 2012
 * Description:
 */

/* DEFAULTS */

/* make vertical scrollbar visible */
html {
	height: 101%;
}

/* body font family */
body {
	font-family: Arial, Helvetica, sans-serif;
}

/* h1 headings */
h1 {
	font-size: 2em;
	position: absolute;
	top: 70px;
	width: 100%;
}

/* h1 spans */
h1 span {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px 40px;
}

/* h2 headings */
h2 {
	font-size: 1.2em;
	font-weight: bold;
}

/* h3 headings */
h3 {
	font-size: 0.8em;
	font-weight: bold;
}

/* forms */
form {
	padding: 5px 0;
}

/* fieldsets */
fieldset {
	margin-bottom: 10px;
	padding: 0 0 15px 10px;
}

/* labels */
label {
	font-size: 0.8em;
	margin-right: 10px;
}

/* tables */
table {
	font-size: 0.8em;
	margin: 10px 0;
}

/* table headers */
th {
	background-color: #E5E5E5;
	font-size: 1.2em;
	padding: 5px;
	text-align: left;
}

/* table cells */
td {
	padding: 5px;
}

/* DIVS */

/* centre page in container div */
#container {
	margin: 0 auto -16px;
	min-height: 100%;
	width: 1000px;
}

/* header div */
#header {
	height: 200px;
	position: relative;
	width: 100%;
}

/* menu div */
#menu {
	background-color: rgb(45, 45, 45);
	background-color: rgba(45, 45, 45, 0.9);
	height: 30px;
	position: absolute;
	text-align: center;
	top: 170px;
	width: 100%;
}

/* position sidebar div to left */
#sidebar {
	float: left;
	padding: 20px 0 0;
	width: 200px;
}

/* position content div to right */
#content {
	float: right;
	margin-bottom: 10px;
	min-height: 300px;
	padding: 20px;
	width: 760px;
}

/* position footer div at bottom of page */
#push {
	height: 16px;
}

/* footer div */
#footer {
	background-color: #F1F1F1;
	clear: both;
	font-size: 0.8em;
	font-style: italic;
	height: 16px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
	width: 990px;
}

/* MENU */

/* remove bullets from menu lists and override browser settings for margin/padding */
#menu ul {
	list-style-type: none;
	margin: 0px 1px;
	padding: 0;
}

/* position menu list items horizontally */
#menu li {
	float: left;
}

/* position menu list links evenly in clickable boxes */
#menu a {
	color: #BBBBBB;
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	padding: 7px;
	text-decoration: none;
	width: 119px;
}

/* change colour of menu list links when hovered over */
#menu a:hover {
	color: #FFFFFF;
}

/* hide nested menu lists */
#menu ul li ul {
	display: none;
	margin: 0;
}

/* display nested menu lists when parent list item is hovered over */
#menu ul li:hover ul {
	background-color: #FFFFFF;
	border: 1px solid #BEBEBE;
	border-top: 0px;
	display: block;
	padding: 7px 0px;
	position: absolute;
}

/* position nested menu list items vertically */
#menu ul li:hover ul li {
	float: none;
}

/* change style of clickable boxes for nested menu list links */
#menu ul li:hover ul li a {
	color: #000000;
	padding: 5px 7px 5px 15px;
	text-align: left;
	width: 111px;
}

/* change background colour of nested menu list link when hovered over */
#menu ul li:hover ul li a:hover {
	background-color: #F5F5F5;
}

/* SIDEBAR */

/* remove bullets from sidebar lists and override browser settings for margin/padding */
#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* position sidebar list links evenly in clickable boxes */
#sidebar a {
	color: #000000;
	display: block;
	font-size: 0.8em;
	padding: 10px 0px 10px 20px;
	text-decoration: none;
	width: 180px;
}

/* change background colour of sidebar list links when hovered over */
#sidebar a:hover {
	background-color: #EEEEEE;
}

/* change colour of sidebar list links when clicked */
#sidebar a:active {
	color: #DD4B39;
}

/* hide nested sidebar lists */
#sidebar ul li ul {
	display: none;
}

/* display nested sidebar lists when parent list item is hovered over */
#sidebar ul li:hover ul {
	display: block;
}

/* change style of clickable boxes for nested sidebar list links */
#sidebar ul li:hover ul li a {
	padding: 5px 0px 5px 35px;
	width: 165px;
}

/* CONTENT */

/* content links */
#content a {
	color: #1122CC;
	text-decoration: none;
}

/* content links when hovered over */
#content a:hover {
	color: #1122CC;
	text-decoration: underline;
}

/* content links when clicked */
#content a:active {
	color: #DD4B39;
	text-decoration: underline;
}

/* content paragraphs */
#content p {
	font-size: 0.8em;
}

/* FORM */

/* confirmed location div */
#divConfirmedLocation {
	display: none;
	margin-top: 10px;
}

/* currency text fields */
#systemCost,#replacementCost,#additionalFees {
	width: 70px;
}

/* percentage text fields */
#panelEfficiencyLoss,#inverterEfficiency,#tariffPercentage1,#tariffPercentage2,#tariffPercentage3,#tariffPercentage4,#tariffPercentage5,#tariffIncrease
	{
	margin-right: 5px;
	width: 50px;
}

/* power text fields */
#customSystemSize,#dailyPowerUsage,#daytimePowerUsage,#tariffRate1,#tariffRate2,#tariffRate3,#tariffRate4,#tariffRate5,#feedinTariff
	{
	margin-right: 5px;
	width: 60px;
}

/* replacement cost currency label */
#lblReplacementCostCurrency {
	display: none;
}

/* replacement cost label */
#lblReplacementCost {
	margin-left: 10px;
}

/* results div */
#divResults {
	font-size: 0.8em;
}

/* results div h2 headings*/
#divResults h2 {
	font-size: 1.5em;
}

/* system location text field */
#systemLocation {
	margin-right: 20px;
	width: 300px;
}

/* CLASSES */

/* buttons */
.btn {
	margin-right: 5px;
}

/* currency labels */
.cl {
	margin-right: 5px;
}

/* custom system size, replacement cost */
.css,.rc {
	display: none;
}

/* drop-down lists */
.ddl {
	margin-right: 20px;
}

/* error messages */
.em {
	color: #DD4B39;
	display: none;
	margin-top: 5px;
}

/* panel banks */
.pb {
	margin-bottom: 5px;
}

/* radio buttons */
.rb {
	margin-right: 5px;
}

/* tariff labels */
.tl {
	margin-right: 20px;
}

/* tariff rates */
.tr {
	margin-bottom: 5px;
}

/* tooltip icons */
.tt {
	margin-left: 5px;
	vertical-align: top;
}

/* tooltips */
.tooltipsy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	padding: 5px;
	max-width: 300px;
	background-color: #EEEEEE;
}